version: '2'
services:
  db:
    image: postgres:latest
    volumes:
      - db_data:/var/lib/postgresql
    restart: always
    environment:
      POSTGRES_DB: conta
      POSTGRES_USER: conta
      POSTGRES_PASSWORD: conta
  web:
    depends_on: 
      - db
    image: nexus.devops.ifrn.edu.br/corporativo/conta:latest
    ports:
      - "8081:8080"
    restart: always
    environment:
      JAVA_OPTS: -Dspring.datasource.url=jdbc:postgresql://db:5432/conta
volumes:
  db_data:

